In [29]:
%pip install pandas
%pip install numpy
%pip install matplotlib
%pip install mlxtend

Requirement already satisfied: pandas in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\acer\appdata\roaming\python\python39\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\acer\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 23.3.1 is available.
You should consider upgrading via the 'c:\Users\ACER\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: numpy in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (1.26.2)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 23.3.1 is available.
You should consider upgrading via the 'c:\Users\ACER\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: matplotlib in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (3.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (4.45.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\acer\appdata\roaming\python\python39\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (6.1.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\acer\appdata\roaming\python\python39\site-packages (from matplotlib) (23.2)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: numpy<2,>=1.21 in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (1.26.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: pillow>=8 in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (10.1.0)
Requirement already satisfied: zipp>=3.1.0 in c:\users\acer\appdata\roaming\python\python39\site-packages (from importlib-resources>=3.2.0->matplotlib) (3.17.0)
Requirement already satisfied: six>=1.5 in c:\users\acer\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 23.3.1 is available.
You should consider upgrading via the 'c:\Users\ACER\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

Collecting mlxtend
  Downloading mlxtend-0.23.0-py3-none-any.whl (1.4 MB)
Collecting scipy>=1.2.1
  Downloading scipy-1.11.4-cp39-cp39-win_amd64.whl (44.3 MB)
Collecting scikit-learn>=1.0.2
  Downloading scikit_learn-1.3.2-cp39-cp39-win_amd64.whl (9.3 MB)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (3.8.2)
Collecting joblib>=0.13.2
  Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
Requirement already satisfied: pandas>=0.24.2 in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (2.1.3)
Requirement already satisfied: numpy>=1.16.2 in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (1.26.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\acer\appdata\roaming\python\python39\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\users\acer\appdata\roaming\python\python39\site-packages (from matplotlib>=3.0.0->mlxtend) (23.2)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (6.1.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.1)
Requirement already satisfied: cycler>=0.10 in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.12.1)
Requirement already satisfied: pillow>=8 in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.1.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.5)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.45.0)
Requirement already satisfied: zipp>=3.1.0 in c:\users\acer\appdata\roaming\python\python39\site-packages (from importlib-resources>=3.2.0->matplotlib>=3.0.0->mlxtend) (3.17.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\acer\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\acer\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.2.0-py3-none-any.whl (15 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn, mlxtend
Successfully installed joblib-1.3.2 mlxtend-0.23.0 scikit-learn-1.3.2 scipy-1.11.4 threadpoolctl-3.2.0
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 23.3.1 is available.
You should consider upgrading via the 'c:\Users\ACER\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

# Association Rule for Store Dataset

In this case study, we will explore how association rule can be used to analyze the items that are usualy purcased together.

you can refer to this article to find out about apriori and association rule:
https://rasbt.github.io/mlxtend/user_guide/frequent_patterns/apriori/
https://rasbt.github.io/mlxtend/user_guide/frequent_patterns/association_rules/

## Load Data

We will use the dataset of the transaction in a certain store. You can get the dataset here: 
https://gist.githubusercontent.com/Harsh-Git-Hub/2979ec48043928ad9033d8469928e751/raw/72de943e040b8bd0d087624b154d41b2ba9d9b60/retail_dataset.csv

In [31]:
# load the data set and show the first five transaction
import pandas as pd
data = pd.read_csv("https://gist.githubusercontent.com/Harsh-Git-Hub/2979ec48043928ad9033d8469928e751/raw/72de943e040b8bd0d087624b154d41b2ba9d9b60/retail_dataset.csv")
data.head(5)

        0       1     2       3       4       5       6
0   Bread    Wine  Eggs    Meat  Cheese  Pencil  Diaper
1   Bread  Cheese  Meat  Diaper    Wine    Milk  Pencil
2  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
3  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
4    Meat  Pencil  Wine     NaN     NaN     NaN     NaN

# Get the set of product that has been purchased

Get the unique product that has been purchased

In [54]:
import pandas as pd
unique_values = data.iloc[:, 6].unique()
print("Unique Values:", unique_values)

Unique Values: ['Diaper' 'Pencil' nan 'Bagel' 'Cheese' 'Milk' 'Meat' 'Bread' 'Eggs'
 'Wine']

## Preprocess Data

In this step, we will transform our dataset so that we will have a one hot encoding based on the purchased products.

In [74]:

#create an itemset based on the products
df = pd.DataFrame(data)

# Print original data
print("Original Data:")
print(df)

# Create itemsets
itemsets = []
for index, row in df.iterrows():
    itemset = set(row)
    itemsets.append(itemset)

# Print itemsets
print("\nItemsets:")
for i, itemset in enumerate(itemsets, start=1):
    print(f"Transaction {i}: {itemset}")

Original Data:
          0       1       2       3       4       5       6
0     Bread    Wine    Eggs    Meat  Cheese  Pencil  Diaper
1     Bread  Cheese    Meat  Diaper    Wine    Milk  Pencil
2    Cheese    Meat    Eggs    Milk    Wine     NaN     NaN
3    Cheese    Meat    Eggs    Milk    Wine     NaN     NaN
4      Meat  Pencil    Wine     NaN     NaN     NaN     NaN
..      ...     ...     ...     ...     ...     ...     ...
310   Bread    Eggs  Cheese     NaN     NaN     NaN     NaN
311    Meat    Milk  Pencil     NaN     NaN     NaN     NaN
312   Bread  Cheese    Eggs    Meat  Pencil  Diaper    Wine
313    Meat  Cheese     NaN     NaN     NaN     NaN     NaN
314    Eggs    Wine   Bagel   Bread    Meat     NaN     NaN

[315 rows x 7 columns]

Itemsets:
Transaction 1: {'Diaper', 'Cheese', 'Eggs', 'Pencil', 'Bread', 'Wine', 'Meat'}
Transaction 2: {'Diaper', 'Milk', 'Cheese', 'Pencil', 'Bread', 'Wine', 'Meat'}
Transaction 3: {nan, 'Milk', 'Cheese', 'Eggs', 'Wine', 'Meat'}
Transaction 4: {nan, 'Milk', 'Cheese', 'Eggs', 'Wine', 'Meat'}
Transaction 5: {nan, 'Pencil', 'Wine', 'Meat'}
Transaction 6: {'Diaper', 'Milk', 'Eggs', 'Pencil', 'Bread', 'Bagel', 'Wine'}
Transaction 7: {nan, 'Cheese', 'Eggs', 'Pencil', 'Wine'}
Transaction 8: {nan, 'Diaper', 'Milk', 'Pencil', 'Bread', 'Bagel'}
Transaction 9: {nan, 'Diaper', 'Milk', 'Cheese', 'Eggs', 'Bread', 'Wine'}
Transaction 10: {'Diaper', 'Cheese', 'Pencil', 'Eggs', 'Bagel', 'Wine', 'Meat'}
Transaction 11: {nan, 'Milk', 'Cheese', 'Eggs', 'Wine', 'Meat'}
Transaction 12: {'Diaper', 'Milk', 'Eggs', 'Bread', 'Bagel', 'Wine', 'Meat'}
Transaction 13: {nan, 'Diaper', 'Pencil', 'Bread', 'Bagel', 'Meat'}
Transaction 14: {nan, 'Milk', 'Cheese', 'Bagel', 'Meat'}
Transaction 15: {'Bread', nan}
Transaction 16: {nan, 'Bagel', 'Pencil', 'Diaper'}
Transaction 17: {'Bread', 'Bagel', 'Meat', nan}
Transaction 18: {'Bread', 'Bagel', 'Milk', nan}
Transaction 19: {nan, 'Diaper'}
Transaction 20: {nan, 'Diaper', 'Cheese', 'Eggs', 'Bread', 'Bagel', 'Meat'}
Transaction 21: {nan, 'Cheese', 'Pencil', 'Bread', 'Meat'}
Transaction 22: {'Milk', 'Cheese', 'Eggs', 'Pencil', 'Bread', 'Wine', 'Meat'}
Transaction 23: {nan, 'Diaper', 'Cheese', 'Eggs', 'Bagel', 'Meat'}
Transaction 24: {nan, 'Diaper', 'Eggs', 'Pencil', 'Wine', 'Meat'}
Transaction 25: {nan, 'Diaper', 'Milk', 'Cheese', 'Bread', 'Bagel', 'Meat'}
Transaction 26: {nan, 'Pencil'}
Transaction 27: {nan, 'Milk', 'Cheese', 'Eggs', 'Wine', 'Meat'}
Transaction 28: {'Diaper', 'Milk', 'Cheese', 'Pencil', 'Bread', 'Wine', 'Meat'}
Transaction 29: {'Bread', 'Bagel', nan}
Transaction 30: {nan, 'Diaper', 'Milk', 'Cheese', 'Eggs', 'Bread', 'Meat'}
Transaction 31: {nan, 'Diaper', 'Meat'}
Transaction 32: {nan, 'Diaper', 'Cheese', 'Bread', 'Bagel', 'Wine'}
Transaction 33: {'Bread', 'Cheese', 'Milk', nan}
Transaction 34: {'Bread', 'Bagel', 'Milk', nan}
Transaction 35: {nan, 'Diaper', 'Bread', 'Bagel', 'Wine', 'Meat'}
Transaction 36: {nan, 'Diaper', 'Milk', 'Cheese', 'Bread', 'Wine'}
Transaction 37: {'Bread', 'Bagel', 'Milk', nan}
Transaction 38: {'Bread', 'Bagel', 'Milk', nan}
Transaction 39: {nan, 'Eggs'}
Transaction 40: {'Bread', 'Bagel', 'Milk', nan}
Transaction 41: {'Bread', 'Bagel', 'Milk', nan}
Transaction 42: {nan, 'Meat'}
Transaction 43: {'Milk', 'Cheese', 'Eggs', 'Pencil', 'Bread', 'Bagel', 'Wine'}
Transaction 44: {nan, 'Bagel', 'Eggs'}
Transaction 45: {nan, 'Wine', 'Diaper', 'Meat'}
Transaction 46: {'Diaper', 'Milk', 'Cheese', 'Eggs', 'Bread', 'Bagel', 'Wine'}
Transaction 47: {nan, 'Milk', 'Cheese', 'Eggs', 'Meat'}
Transaction 48: {nan, 'Eggs', 'Wine'}
Transaction 49: {nan, 'Milk', 'Cheese', 'Eggs', 'Wine', 'Meat'}
Transaction 50: {nan, 'Wine', 'Milk'}
Transaction 51: {nan, 'Diaper'}
Transaction 52: {nan, 'Diaper', 'Milk', 'Bread', 'Bagel', 'Wine'}
Transaction 53: {nan, 'Milk', 'Cheese', 'Eggs', 'Wine', 'Meat'}
Transaction 54: {nan, 'Milk', 'Cheese', 'Eggs', 'Meat'}
Transaction 55: {nan, 'Diaper', 'Cheese', 'Bread', 'Wine', 'Meat'}
Transaction 56: {nan, 'Diaper', 'Milk', 'Cheese', 'Pencil', 'Eggs', 'Wine'}
Transaction 57: {'Diaper', 'Milk', 'Cheese', 'Eggs', 'Bread', 'Wine', 'Meat'}
Transaction 58: {nan, 'Eggs', 'Diaper'}
Transaction 59: {nan, 'Milk', 'Cheese', 'Eggs', 'Wine', 'Meat'}
Transaction 60: {'Diaper', 'Cheese', 'Pencil', 'Bread', 'Bagel', 'Wine', 'Meat'}
Transaction 61: {nan, 'Milk', 'Cheese', 'Pencil', 'Bagel'}
Transaction 62: {nan, 'Diaper', 'Cheese', 'Wine', 'Meat'}
Transaction 63: {'Bread', 'Bagel', 'Milk', nan}
Transaction 64: {nan, 'Diaper', 'Milk', 'Pencil', 'Bread', 'Wine', 'Meat'}
Transaction 65: {nan, 'Diaper', 'Cheese', 'Pencil', 'Eggs', 'Wine'}
Transaction 66: {nan, 'Diaper', 'Milk', 'Cheese', 'Pencil', 'Eggs', 'Bread'}
Transaction 67: {nan, 'Cheese', 'Pencil', 'Milk'}
Transaction 68: {'Bread', 'Bagel', 'Eggs', nan}
Transaction 69: {nan, 'Diaper', 'Cheese', 'Pencil', 'Bread', 'Bagel', 'Meat'}
Transaction 70: {nan, 'Diaper', 'Milk', 'Bread', 'Bagel'}
Transaction 71: {'Bread', nan, 'Eggs'}
Transaction 72: {nan, 'Diaper', 'Milk', 'Pencil', 'Eggs'}
Transaction 73: {nan, 'Milk', 'Cheese', 'Pencil', 'Meat'}
Transaction 74: {nan, 'Diaper', 'Cheese', 'Bread', 'Bagel', 'Meat'}
Transaction 75: {nan, 'Milk', 'Cheese', 'Eggs', 'Meat'}
Transaction 76: {nan, 'Milk', 'Cheese', 'Eggs', 'Meat'}
Transaction 77: {'Diaper', 'Cheese', 'Eggs', 'Pencil', 'Bread', 'Bagel', 'Wine'}
Transaction 78: {nan, 'Diaper'}
Transaction 79: {nan, 'Milk', 'Cheese', 'Eggs', 'Meat'}
Transaction 80: {nan, 'Milk'}
Transaction 81: {'Bread', nan, 'Pencil'}
Transaction 82: {nan, 'Cheese', 'Wine', 'Milk'}
Transaction 83: {nan, 'Cheese', 'Bagel'}
Transaction 84: {nan, 'Pencil', 'Diaper', 'Wine'}
Transaction 85: {nan, 'Cheese', 'Eggs', 'Meat'}
Transaction 86: {nan, 'Bagel', 'Pencil', 'Meat'}
Transaction 87: {nan, 'Cheese', 'Eggs', 'Bagel', 'Wine', 'Meat'}
Transaction 88: {nan, 'Milk', 'Cheese', 'Bread', 'Bagel', 'Wine', 'Meat'}
Transaction 89: {nan, 'Cheese', 'Pencil', 'Bread', 'Wine', 'Meat'}
Transaction 90: {'Milk', 'Cheese', 'Pencil', 'Bread', 'Bagel', 'Wine', 'Meat'}
Transaction 91: {nan, 'Diaper', 'Milk', 'Cheese', 'Pencil', 'Bagel', 'Wine'}
Transaction 92: {'Bread', 'Bagel', 'Milk', nan}
Transaction 93: {nan, 'Milk', 'Cheese', 'Eggs', 'Meat'}
Transaction 94: {'Diaper', 'Cheese', 'Pencil', 'Eggs', 'Bagel', 'Wine', 'Meat'}
Transaction 95: {'Diaper', 'Milk', 'Cheese', 'Eggs', 'Bagel', 'Wine', 'Meat'}
Transaction 96: {nan, 'Meat'}
Transaction 97: {'Bread', 'Bagel', 'Milk', nan}
Transaction 98: {nan, 'Pencil'}
Transaction 99: {nan, 'Diaper', 'Cheese', 'Bread', 'Wine'}
Transaction 100: {nan, 'Pencil', 'Bagel', 'Wine', 'Meat'}
Transaction 101: {'Bread', nan, 'Wine'}
Transaction 102: {nan, 'Milk', 'Cheese', 'Eggs', 'Pencil', 'Bread', 'Wine'}
Transaction 103: {nan, 'Milk', 'Cheese', 'Eggs', 'Bagel', 'Meat'}
Transaction 104: {nan, 'Milk', 'Cheese', 'Eggs', 'Meat'}
Transaction 105: {nan, 'Diaper', 'Eggs', 'Wine', 'Meat'}
Transaction 106: {nan, 'Diaper', 'Meat'}
Transaction 107: {nan, 'Milk', 'Pencil', 'Bread', 'Wine'}
Transaction 108: {'Milk', 'Eggs', 'Pencil', 'Bread', 'Bagel', 'Wine', 'Meat'}
Transaction 109: {'Diaper', 'Milk', 'Cheese', 'Bread', 'Bagel', 'Wine', 'Meat'}
Transaction 110: {nan, 'Diaper', 'Milk', 'Cheese', 'Bagel', 'Wine'}
Transaction 111: {'Bread', 'Bagel', 'Milk', nan}
Transaction 112: {nan, 'Diaper'}
Transaction 113: {nan, 'Cheese', 'Pencil', 'Eggs', 'Bread', 'Bagel'}
Transaction 114: {'Bread', 'Cheese', 'Eggs', nan}
Transaction 115: {nan, 'Pencil', 'Meat', 'Milk'}
Transaction 116: {'Diaper', 'Cheese', 'Eggs', 'Pencil', 'Bread', 'Wine', 'Meat'}
Transaction 117: {nan, 'Cheese', 'Meat'}
Transaction 118: {nan, 'Eggs', 'Bread', 'Bagel', 'Wine', 'Meat'}
Transaction 119: {nan, 'Bagel', 'Cheese'}
Transaction 120: {nan, 'Diaper', 'Pencil', 'Bagel', 'Wine', 'Meat'}
Transaction 121: {nan, 'Pencil', 'Milk'}
Transaction 122: {nan, 'Diaper', 'Pencil', 'Eggs', 'Bagel', 'Wine'}
Transaction 123: {'Milk', 'Cheese', 'Eggs', 'Pencil', 'Bread', 'Wine', 'Meat'}
Transaction 124: {'Bread', 'Bagel', 'Milk', nan}
Transaction 125: {'Bread', nan, 'Pencil'}
Transaction 126: {nan, 'Milk', 'Eggs', 'Bagel', 'Wine'}
Transaction 127: {'Milk', 'Cheese', 'Pencil', 'Eggs', 'Bagel', 'Wine', 'Meat'}
Transaction 128: {nan, 'Cheese', 'Milk'}
Transaction 129: {nan, 'Diaper', 'Milk', 'Pencil', 'Bread'}
Transaction 130: {'Bread', 'Bagel', 'Milk', nan}
Transaction 131: {nan, 'Milk', 'Cheese', 'Eggs', 'Meat'}
Transaction 132: {'Bread', 'Bagel', 'Milk', nan}
Transaction 133: {nan, 'Diaper'}
Transaction 134: {nan, 'Diaper', 'Bread', 'Bagel', 'Wine', 'Meat'}
Transaction 135: {nan, 'Bagel'}
Transaction 136: {nan, 'Wine', 'Diaper'}
Transaction 137: {nan, 'Diaper', 'Cheese', 'Eggs', 'Bagel', 'Meat'}
Transaction 138: {nan, 'Pencil', 'Eggs', 'Bread', 'Bagel'}
Transaction 139: {'Milk', 'Cheese', 'Eggs', 'Pencil', 'Bread', 'Wine', 'Meat'}
Transaction 140: {nan, 'Pencil', 'Meat', 'Eggs'}
Transaction 141: {nan, 'Bagel', 'Pencil'}
Transaction 142: {nan, 'Cheese', 'Eggs', 'Pencil', 'Bread', 'Bagel', 'Meat'}
Transaction 143: {nan, 'Milk', 'Cheese', 'Eggs', 'Bread'}
Transaction 144: {nan, 'Milk'}
Transaction 145: {nan, 'Cheese', 'Pencil', 'Bread', 'Bagel', 'Meat'}
Transaction 146: {nan, 'Diaper', 'Eggs', 'Bread', 'Wine'}
Transaction 147: {nan, 'Cheese', 'Eggs', 'Bread', 'Bagel', 'Wine', 'Meat'}
Transaction 148: {nan, 'Milk', 'Cheese', 'Bread', 'Meat'}
Transaction 149: {nan, 'Milk', 'Cheese', 'Pencil', 'Eggs', 'Bread', 'Meat'}
Transaction 150: {'Bread', nan}
Transaction 151: {'Diaper', 'Milk', 'Eggs', 'Pencil', 'Bread', 'Bagel', 'Meat'}
Transaction 152: {nan, 'Diaper', 'Milk'}
Transaction 153: {'Diaper', 'Cheese', 'Eggs', 'Bread', 'Bagel', 'Wine', 'Meat'}
Transaction 154: {nan, 'Diaper', 'Milk', 'Cheese', 'Pencil', 'Bread', 'Bagel'}
Transaction 155: {nan, 'Diaper'}
Transaction 156: {nan, 'Milk', 'Cheese', 'Eggs', 'Meat'}
Transaction 157: {nan, 'Cheese', 'Bagel', 'Wine', 'Meat'}
Transaction 158: {nan, 'Diaper', 'Milk', 'Cheese', 'Eggs'}
Transaction 159: {nan, 'Cheese', 'Pencil', 'Eggs', 'Wine', 'Meat'}
Transaction 160: {nan, 'Cheese', 'Eggs', 'Pencil', 'Bagel', 'Wine'}
Transaction 161: {nan, 'Bagel', 'Diaper'}
Transaction 162: {nan, 'Meat'}
Transaction 163: {'Bread', nan, 'Eggs', 'Wine'}
Transaction 164: {nan, 'Milk', 'Pencil', 'Eggs', 'Bread', 'Bagel', 'Wine'}
Transaction 165: {'Bread', 'Bagel', 'Milk', nan}
Transaction 166: {nan, 'Bagel', 'Eggs'}
Transaction 167: {nan, 'Milk', 'Cheese', 'Eggs', 'Bread', 'Wine', 'Meat'}
Transaction 168: {nan, 'Wine', 'Meat'}
Transaction 169: {'Bread', nan, 'Wine'}
Transaction 170: {nan, 'Eggs', 'Meat'}
Transaction 171: {nan, 'Milk', 'Cheese', 'Pencil', 'Bagel', 'Wine'}
Transaction 172: {nan, 'Milk', 'Cheese', 'Eggs', 'Meat'}
Transaction 173: {nan, 'Diaper', 'Cheese', 'Pencil', 'Bread', 'Bagel'}
Transaction 174: {nan, 'Diaper', 'Cheese', 'Pencil', 'Bread'}
Transaction 175: {nan, 'Milk', 'Cheese', 'Eggs', 'Meat'}
Transaction 176: {'Diaper', 'Milk', 'Eggs', 'Pencil', 'Bread', 'Bagel', 'Meat'}
Transaction 177: {'Bread', 'Bagel', 'Milk', nan}
Transaction 178: {nan, 'Diaper', 'Pencil', 'Bread', 'Wine', 'Meat'}
Transaction 179: {nan, 'Cheese', 'Eggs'}
Transaction 180: {nan, 'Cheese', 'Pencil', 'Wine'}
Transaction 181: {nan, 'Eggs'}
Transaction 182: {nan, 'Pencil', 'Eggs', 'Milk'}
Transaction 183: {'Milk', 'Cheese', 'Eggs', 'Pencil', 'Bread', 'Bagel', 'Meat'}
Transaction 184: {nan, 'Diaper', 'Milk', 'Pencil', 'Bagel', 'Meat'}
Transaction 185: {nan, 'Milk', 'Cheese', 'Eggs', 'Meat'}
Transaction 186: {'Bread', 'Cheese', 'Wine', nan}
Transaction 187: {nan, 'Diaper', 'Milk', 'Cheese', 'Pencil', 'Bread'}
Transaction 188: {nan, 'Milk', 'Pencil', 'Eggs', 'Bagel', 'Wine', 'Meat'}
Transaction 189: {nan, 'Milk', 'Eggs', 'Bread', 'Wine', 'Meat'}
Transaction 190: {'Bread', nan}
Transaction 191: {nan, 'Diaper', 'Pencil', 'Bread', 'Wine', 'Meat'}
Transaction 192: {nan, 'Cheese', 'Pencil'}
Transaction 193: {'Bread', nan, 'Diaper'}
Transaction 194: {nan, 'Diaper', 'Bread', 'Bagel', 'Wine'}
Transaction 195: {'Bread', nan, 'Wine', 'Diaper'}
Transaction 196: {'Bread', 'Bagel', 'Milk', nan}
Transaction 197: {nan, 'Bagel', 'Diaper'}
Transaction 198: {'Milk', 'Cheese', 'Eggs', 'Pencil', 'Bread', 'Wine', 'Meat'}
Transaction 199: {nan, 'Diaper', 'Eggs', 'Pencil', 'Bread', 'Wine'}
Transaction 200: {nan, 'Diaper', 'Eggs', 'Pencil', 'Bread', 'Wine'}
Transaction 201: {'Bread', nan, 'Wine', 'Diaper'}
Transaction 202: {nan, 'Diaper', 'Eggs', 'Bread', 'Wine'}
Transaction 203: {nan, 'Diaper', 'Milk', 'Eggs', 'Pencil', 'Bread', 'Wine'}
Transaction 204: {nan, 'Cheese', 'Eggs', 'Pencil', 'Wine'}
Transaction 205: {nan, 'Diaper', 'Milk', 'Pencil', 'Bread', 'Bagel'}
Transaction 206: {nan, 'Diaper', 'Milk', 'Cheese', 'Eggs', 'Bread', 'Wine'}
Transaction 207: {'Diaper', 'Cheese', 'Pencil', 'Eggs', 'Bagel', 'Wine', 'Meat'}
Transaction 208: {nan, 'Milk', 'Cheese', 'Eggs', 'Wine', 'Meat'}
Transaction 209: {'Diaper', 'Milk', 'Eggs', 'Bread', 'Bagel', 'Wine', 'Meat'}
Transaction 210: {nan, 'Diaper', 'Pencil', 'Bread', 'Bagel', 'Meat'}
Transaction 211: {nan, 'Milk', 'Cheese', 'Bagel', 'Meat'}
Transaction 212: {'Bread', nan}
Transaction 213: {nan, 'Bagel', 'Pencil', 'Diaper'}
Transaction 214: {'Bread', 'Bagel', 'Meat', nan}
Transaction 215: {'Bread', 'Bagel', 'Milk', nan}
Transaction 216: {nan, 'Diaper'}
Transaction 217: {nan, 'Diaper', 'Cheese', 'Eggs', 'Bread', 'Bagel', 'Meat'}
Transaction 218: {nan, 'Cheese', 'Pencil', 'Bread', 'Meat'}
Transaction 219: {'Milk', 'Cheese', 'Eggs', 'Pencil', 'Bread', 'Wine', 'Meat'}
Transaction 220: {nan, 'Diaper', 'Cheese', 'Eggs', 'Bagel', 'Meat'}
Transaction 221: {nan, 'Diaper', 'Eggs', 'Pencil', 'Wine', 'Meat'}
Transaction 222: {nan, 'Diaper', 'Milk', 'Cheese', 'Bread', 'Bagel', 'Meat'}
Transaction 223: {nan, 'Pencil'}
Transaction 224: {nan, 'Milk', 'Cheese', 'Eggs', 'Wine', 'Meat'}
Transaction 225: {'Diaper', 'Milk', 'Cheese', 'Pencil', 'Bread', 'Wine', 'Meat'}
Transaction 226: {'Bread', 'Bagel', nan}
Transaction 227: {nan, 'Diaper', 'Milk', 'Cheese', 'Eggs', 'Bread', 'Meat'}
Transaction 228: {nan, 'Diaper', 'Meat'}
Transaction 229: {nan, 'Diaper', 'Cheese', 'Bread', 'Bagel', 'Wine'}
Transaction 230: {'Bread', 'Cheese', 'Milk', nan}
Transaction 231: {'Bread', 'Bagel', 'Milk', nan}
Transaction 232: {nan, 'Diaper', 'Bread', 'Bagel', 'Wine', 'Meat'}
Transaction 233: {nan, 'Diaper', 'Milk', 'Cheese', 'Bread', 'Wine'}
Transaction 234: {'Bread', 'Bagel', 'Milk', nan}
Transaction 235: {'Bread', 'Bagel', 'Milk', nan}
Transaction 236: {nan, 'Eggs'}
Transaction 237: {'Bread', 'Bagel', 'Milk', nan}
Transaction 238: {'Bread', 'Bagel', 'Milk', nan}
Transaction 239: {nan, 'Meat'}
Transaction 240: {'Milk', 'Cheese', 'Eggs', 'Pencil', 'Bread', 'Bagel', 'Wine'}
Transaction 241: {nan, 'Bagel', 'Eggs'}
Transaction 242: {nan, 'Wine', 'Diaper', 'Meat'}
Transaction 243: {'Diaper', 'Milk', 'Cheese', 'Eggs', 'Bread', 'Bagel', 'Wine'}
Transaction 244: {nan, 'Milk', 'Cheese', 'Eggs', 'Meat'}
Transaction 245: {nan, 'Eggs', 'Wine'}
Transaction 246: {nan, 'Milk', 'Cheese', 'Eggs', 'Wine', 'Meat'}
Transaction 247: {nan, 'Wine', 'Milk'}
Transaction 248: {nan, 'Diaper'}
Transaction 249: {nan, 'Diaper', 'Milk', 'Bread', 'Bagel', 'Wine'}
Transaction 250: {nan, 'Milk', 'Cheese', 'Eggs', 'Wine', 'Meat'}
Transaction 251: {nan, 'Milk', 'Cheese', 'Eggs', 'Meat'}
Transaction 252: {nan, 'Diaper', 'Cheese', 'Bread', 'Wine', 'Meat'}
Transaction 253: {nan, 'Diaper', 'Milk', 'Cheese', 'Pencil', 'Eggs', 'Wine'}
Transaction 254: {'Diaper', 'Milk', 'Cheese', 'Eggs', 'Bread', 'Wine', 'Meat'}
Transaction 255: {nan, 'Eggs', 'Diaper'}
Transaction 256: {nan, 'Milk', 'Cheese', 'Eggs', 'Wine', 'Meat'}
Transaction 257: {'Diaper', 'Cheese', 'Pencil', 'Bread', 'Bagel', 'Wine', 'Meat'}
Transaction 258: {nan, 'Milk', 'Cheese', 'Pencil', 'Bagel'}
Transaction 259: {nan, 'Diaper', 'Cheese', 'Wine', 'Meat'}
Transaction 260: {'Bread', 'Bagel', 'Milk', nan}
Transaction 261: {nan, 'Diaper', 'Milk', 'Pencil', 'Bread', 'Wine', 'Meat'}
Transaction 262: {nan, 'Diaper', 'Cheese', 'Pencil', 'Eggs', 'Wine'}
Transaction 263: {nan, 'Diaper', 'Milk', 'Cheese', 'Pencil', 'Eggs', 'Bread'}
Transaction 264: {nan, 'Cheese', 'Pencil', 'Milk'}
Transaction 265: {'Bread', 'Bagel', 'Eggs', nan}
Transaction 266: {nan, 'Diaper', 'Cheese', 'Pencil', 'Bread', 'Bagel', 'Meat'}
Transaction 267: {nan, 'Diaper', 'Milk', 'Bread', 'Bagel'}
Transaction 268: {'Bread', nan, 'Eggs'}
Transaction 269: {nan, 'Diaper', 'Milk', 'Pencil', 'Eggs'}
Transaction 270: {nan, 'Milk', 'Cheese', 'Pencil', 'Meat'}
Transaction 271: {nan, 'Diaper', 'Cheese', 'Bread', 'Bagel', 'Meat'}
Transaction 272: {nan, 'Milk', 'Cheese', 'Eggs', 'Meat'}
Transaction 273: {nan, 'Milk', 'Cheese', 'Eggs', 'Meat'}
Transaction 274: {'Diaper', 'Cheese', 'Eggs', 'Pencil', 'Bread', 'Bagel', 'Wine'}
Transaction 275: {nan, 'Diaper'}
Transaction 276: {nan, 'Milk', 'Cheese', 'Eggs', 'Meat'}
Transaction 277: {nan, 'Milk'}
Transaction 278: {'Bread', nan, 'Pencil'}
Transaction 279: {nan, 'Cheese', 'Wine', 'Milk'}
Transaction 280: {nan, 'Cheese', 'Bagel'}
Transaction 281: {nan, 'Pencil', 'Diaper', 'Wine'}
Transaction 282: {nan, 'Cheese', 'Eggs', 'Meat'}
Transaction 283: {nan, 'Bagel', 'Pencil', 'Meat'}
Transaction 284: {nan, 'Cheese', 'Eggs', 'Bagel', 'Wine', 'Meat'}
Transaction 285: {nan, 'Milk', 'Cheese', 'Bread', 'Bagel', 'Wine', 'Meat'}
Transaction 286: {nan, 'Cheese', 'Pencil', 'Bread', 'Wine', 'Meat'}
Transaction 287: {'Milk', 'Cheese', 'Pencil', 'Bread', 'Bagel', 'Wine', 'Meat'}
Transaction 288: {nan, 'Diaper', 'Milk', 'Cheese', 'Pencil', 'Bagel', 'Wine'}
Transaction 289: {'Bread', 'Bagel', 'Milk', nan}
Transaction 290: {nan, 'Milk', 'Cheese', 'Eggs', 'Meat'}
Transaction 291: {'Diaper', 'Cheese', 'Pencil', 'Eggs', 'Bagel', 'Wine', 'Meat'}
Transaction 292: {'Diaper', 'Milk', 'Cheese', 'Eggs', 'Bagel', 'Wine', 'Meat'}
Transaction 293: {nan, 'Meat'}
Transaction 294: {'Bread', 'Bagel', 'Milk', nan}
Transaction 295: {nan, 'Pencil'}
Transaction 296: {nan, 'Diaper', 'Cheese', 'Bread', 'Wine'}
Transaction 297: {nan, 'Pencil', 'Bagel', 'Wine', 'Meat'}
Transaction 298: {'Bread', nan, 'Wine'}
Transaction 299: {nan, 'Milk', 'Cheese', 'Eggs', 'Pencil', 'Bread', 'Wine'}
Transaction 300: {nan, 'Milk', 'Cheese', 'Eggs', 'Bagel', 'Meat'}
Transaction 301: {nan, 'Milk', 'Cheese', 'Eggs', 'Meat'}
Transaction 302: {nan, 'Diaper', 'Eggs', 'Wine', 'Meat'}
Transaction 303: {nan, 'Diaper', 'Meat'}
Transaction 304: {nan, 'Milk', 'Pencil', 'Bread', 'Wine'}
Transaction 305: {'Milk', 'Eggs', 'Pencil', 'Bread', 'Bagel', 'Wine', 'Meat'}
Transaction 306: {'Diaper', 'Milk', 'Cheese', 'Bread', 'Bagel', 'Wine', 'Meat'}
Transaction 307: {nan, 'Diaper', 'Milk', 'Cheese', 'Bagel', 'Wine'}
Transaction 308: {'Bread', 'Bagel', 'Milk', nan}
Transaction 309: {nan, 'Diaper'}
Transaction 310: {nan, 'Cheese', 'Pencil', 'Eggs', 'Bread', 'Bagel'}
Transaction 311: {'Bread', 'Cheese', 'Eggs', nan}
Transaction 312: {nan, 'Pencil', 'Meat', 'Milk'}
Transaction 313: {'Diaper', 'Cheese', 'Eggs', 'Pencil', 'Bread', 'Wine', 'Meat'}
Transaction 314: {nan, 'Cheese', 'Meat'}
Transaction 315: {nan, 'Eggs', 'Bread', 'Bagel', 'Wine', 'Meat'}

In [63]:

# Encoding the feature
te = TransactionEncoder()
te_ary = te.fit(itemsets).transform(itemsets)
one_hot_encoded = pd.DataFrame(te_ary, columns=te.columns_)

# Convert boolean values to integers (0 and 1)
one_hot_encoded = one_hot_encoded.astype(int)

# Print one-hot encoded DataFrame
print("\nOne-Hot Encoded DataFrame (Numeric):")
print(one_hot_encoded)

One-Hot Encoded DataFrame (Numeric):
        Bagel  Bread  Cheese  Diaper  Eggs  Meat  Milk  Pencil  Wine
0    0      0      1       1       1     1     1     0       1     1
1    0      0      1       1       1     0     1     1       1     1
2    1      0      0       1       0     1     1     1       0     1
3    1      0      0       1       0     1     1     1       0     1
4    1      0      0       0       0     0     1     0       1     1
..  ..    ...    ...     ...     ...   ...   ...   ...     ...   ...
310  1      0      1       1       0     1     0     0       0     0
311  1      0      0       0       0     0     1     1       1     0
312  0      0      1       1       1     1     1     0       1     1
313  1      0      0       1       0     0     1     0       0     0
314  1      1      1       0       0     1     1     0       0     1

[315 rows x 10 columns]

In [75]:
# create new dataframe from the encoded features
# show the new dataframe

new_df = pd.concat([df, one_hot_encoded], axis=1)

# Print the new DataFrame
print("\nNew DataFrame:")
new_df

New DataFrame:

,0,1,2,3,4,5,6,,Bagel,Bread,Cheese,Diaper,Eggs,Meat,Milk,Pencil,Wine
0,Bread,Wine,Eggs,Meat,Cheese,Pencil,Diaper,0,0,1,1,1,1,1,0,1,1
1,Bread,Cheese,Meat,Diaper,Wine,Milk,Pencil,0,0,1,1,1,0,1,1,1,1
2,Cheese,Meat,Eggs,Milk,Wine,NaN,NaN,1,0,0,1,0,1,1,1,0,1
3,Cheese,Meat,Eggs,Milk,Wine,NaN,NaN,1,0,0,1,0,1,1,1,0,1
4,Meat,Pencil,Wine,NaN,NaN,NaN,NaN,1,0,0,0,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,Bread,Eggs,Cheese,NaN,NaN,NaN,NaN,1,0,1,1,0,1,0,0,0,0
311,Meat,Milk,Pencil,NaN,NaN,NaN,NaN,1,0,0,0,0,0,1,1,1,0
312,Bread,Cheese,Eggs,Meat,Pencil,Diaper,Wine,0,0,1,1,1,1,1,0,1,1
313,Meat,Cheese,NaN,NaN,NaN,NaN,NaN,1,0,0,1,0,0,1,0,0,0
314,Eggs,Wine,Bagel,Bread,Meat,NaN,NaN,1,1,1,0,0,1,1,0,0,1

Since, the encoded dataframe consist of the empty column. We will drop the NaN column or select all columns other than the first column.

In [76]:
new_df = one_hot_encoded.dropna(axis=1)
new_df

        Bagel  Bread  Cheese  Diaper  Eggs  Meat  Milk  Pencil  Wine
0    0      0      1       1       1     1     1     0       1     1
1    0      0      1       1       1     0     1     1       1     1
2    1      0      0       1       0     1     1     1       0     1
3    1      0      0       1       0     1     1     1       0     1
4    1      0      0       0       0     0     1     0       1     1
..  ..    ...    ...     ...     ...   ...   ...   ...     ...   ...
310  1      0      1       1       0     1     0     0       0     0
311  1      0      0       0       0     0     1     1       1     0
312  0      0      1       1       1     1     1     0       1     1
313  1      0      0       1       0     0     1     0       0     0
314  1      1      1       0       0     1     1     0       0     1

[315 rows x 10 columns]

## Apriori Algorithm

We will use appriori algorithm to determine the frequently purchased products. 
For this case study, we will min_support=0.2

In [77]:
frequent_itemsets = apriori(new_df, min_support=0.2, use_colnames=True)

# Print frequent itemsets
print("\nFrequent Itemsets:")
frequent_itemsets

Frequent Itemsets:

c:\Users\ACER\AppData\Local\Programs\Python\Python39\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support              itemsets
0   0.869841                    ()
1   0.425397               (Bagel)
2   0.504762               (Bread)
3   0.501587              (Cheese)
4   0.406349              (Diaper)
5   0.438095                (Eggs)
6   0.476190                (Meat)
7   0.501587                (Milk)
8   0.361905              (Pencil)
9   0.438095                (Wine)
10  0.336508             (, Bagel)
11  0.396825             (, Bread)
12  0.393651            (, Cheese)
13  0.317460            (, Diaper)
14  0.336508              (, Eggs)
15  0.368254              (, Meat)
16  0.409524              (, Milk)
17  0.266667            (, Pencil)
18  0.317460              (, Wine)
19  0.279365        (Bread, Bagel)
20  0.225397         (Bagel, Milk)
21  0.238095       (Bread, Cheese)
22  0.231746       (Bread, Diaper)
23  0.206349         (Bread, Meat)
24  0.279365         (Bread, Milk)
25  0.200000       (Bread, Pencil)
26  0.244444         (Bread, Wine)
27  0.200000      (Cheese, Diaper)
28  0.298413        (Cheese, Eggs)
29  0.323810        (Cheese, Meat)
30  0.304762        (Cheese, Milk)
31  0.200000      (Cheese, Pencil)
32  0.269841        (Cheese, Wine)
33  0.234921        (Wine, Diaper)
34  0.266667          (Eggs, Meat)
35  0.244444          (Eggs, Milk)
36  0.241270          (Wine, Eggs)
37  0.244444          (Meat, Milk)
38  0.250794          (Wine, Meat)
39  0.219048          (Wine, Milk)
40  0.200000        (Pencil, Wine)
41  0.212698      (, Bagel, Bread)
42  0.219048      (, Cheese, Eggs)
43  0.234921      (, Cheese, Meat)
44  0.234921      (, Cheese, Milk)
45  0.215873  (Cheese, Eggs, Meat)
46  0.203175  (Cheese, Meat, Milk)

Then, we will generate association rule of the frequent itemset based on confidence level with the threshold=0.6

In [70]:
from mlxtend.frequent_patterns import association_rules

# Assuming you have already obtained frequent_itemsets using apriori

# Generate association rules with a minimum confidence of 0.6
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.6)

# Print the generated rules
print("\nAssociation Rules:")
rules

Association Rules:

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Bagel),(),0.425397,0.869841,0.336508,0.791045,0.909413,-0.033520,0.622902,-0.147743
1,(Bread),(),0.504762,0.869841,0.396825,0.786164,0.903801,-0.042237,0.608683,-0.176903
2,(Cheese),(),0.501587,0.869841,0.393651,0.784810,0.902245,-0.042651,0.604855,-0.178565
3,(Diaper),(),0.406349,0.869841,0.317460,0.781250,0.898152,-0.035999,0.595011,-0.160381
4,(Eggs),(),0.438095,0.869841,0.336508,0.768116,0.883053,-0.044565,0.561310,-0.190735
5,(Meat),(),0.476190,0.869841,0.368254,0.773333,0.889051,-0.045956,0.574230,-0.192405
6,(Milk),(),0.501587,0.869841,0.409524,0.816456,0.938626,-0.026778,0.709141,-0.115976
7,(Pencil),(),0.361905,0.869841,0.266667,0.736842,0.847100,-0.048133,0.494603,-0.220499
8,(Wine),(),0.438095,0.869841,0.317460,0.724638,0.833069,-0.063613,0.472682,-0.262869
9,(Bagel),(Bread),0.425397,0.504762,0.279365,0.656716,1.301042,0.064641,1.442650,0.402687
10,(Eggs),(Cheese),0.438095,0.501587,0.298413,0.681159,1.358008,0.078670,1.563203,0.469167
11,(Cheese),(Meat),0.501587,0.476190,0.323810,0.645570,1.355696,0.084958,1.477891,0.526414
12,(Meat),(Cheese),0.476190,0.501587,0.323810,0.680000,1.355696,0.084958,1.557540,0.500891
13,(Cheese),(Milk),0.501587,0.501587,0.304762,0.607595,1.211344,0.053172,1.270148,0.350053
14,(Milk),(Cheese),0.501587,0.501587,0.304762,0.607595,1.211344,0.053172,1.270148,0.350053
15,(Wine),(Cheese),0.438095,0.501587,0.269841,0.615942,1.227986,0.050098,1.297754,0.330409
16,(Eggs),(Meat),0.438095,0.476190,0.266667,0.608696,1.278261,0.058050,1.338624,0.387409
17,"(, Bagel)",(Bread),0.336508,0.504762,0.212698,0.632075,1.252225,0.042842,1.346032,0.303578
18,"(Bread, Bagel)",(),0.279365,0.869841,0.212698,0.761364,0.875290,-0.030305,0.545427,-0.165075
19,"(, Eggs)",(Cheese),0.336508,0.501587,0.219048,0.650943,1.297767,0.050260,1.427885,0.345815
20,"(Cheese, Eggs)",(),0.298413,0.869841,0.219048,0.734043,0.843881,-0.040524,0.489397,-0.208666
21,"(, Meat)",(Cheese),0.368254,0.501587,0.234921,0.637931,1.271825,0.050209,1.376568,0.338313
22,"(Cheese, Meat)",(),0.323810,0.869841,0.234921,0.725490,0.834049,-0.046742,0.474150,-0.227353
23,"(Cheese, Milk)",(),0.304762,0.869841,0.234921,0.770833,0.886177,-0.030174,0.567965,-0.155938
24,"(Cheese, Eggs)",(Meat),0.298413,0.476190,0.215873,0.723404,1.519149,0.073772,1.893773,0.487091
25,"(Cheese, Meat)",(Eggs),0.323810,0.438095,0.215873,0.666667,1.521739,0.074014,1.685714,0.507042
26,"(Eggs, Meat)",(Cheese),0.266667,0.501587,0.215873,0.809524,1.613924,0.082116,2.616667,0.518717
27,"(Cheese, Meat)",(Milk),0.323810,0.501587,0.203175,0.627451,1.250931,0.040756,1.337845,0.296655
28,"(Cheese, Milk)",(Meat),0.304762,0.476190,0.203175,0.666667,1.400000,0.058050,1.571429,0.410959
29,"(Meat, Milk)",(Cheese),0.244444,0.501587,0.203175,0.831169,1.657077,0.080564,2.952137,0.524816

Provide explanation about __antecedent support__, __consequent support__, __support__, __confidence__, __lift__, __leverage__ and __conviction__

In [78]:
Association rule mining involves discovering patterns in data where certain events or conditions are associated with others. Several metrics aid in evaluating these rules. Antecedent support measures how often the antecedent occurs, while consequent support assesses the frequency of the consequent. Support quantifies the joint occurrence of both antecedent and consequent, highlighting strong associations. Confidence indicates the likelihood of finding the consequent given the antecedent, with higher values signifying stronger rules. Lift compares the observed support to the expected support under independence, 
and values greater than 1 suggest a meaningful association. Leverage assesses how much more antecedent and consequent occur together than expected by chance. 
Conviction measures the dependence of the consequent on the antecedent, with higher values indicating stronger dependence. 
These metrics collectively provide insights into the significance and reliability of association rules, aiding decision-making in various domains.

SyntaxError: invalid syntax (2747903387.py, line 1)